<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.huangyy.hotelsys.mapper.NoteDateMapper">

    <delete id="deleteData" parameterType="String">
        delete from note_date where user_id=#{userId} and is_deleted=1
    </delete>
</mapper>
